<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home_p.css">
    <title>Home</title>
</head>

<div class="video-bg">
    <video src="/video/video_bg.mp4" type="video/mp4" autoplay muted loop></video>
    <div class="effects"></div>
    <div class="video-bg__content">
        <div class="header">
            <h1>Property shop</h1>
            <ul class="menu">
                
                <li><a href="/login">Login</a></li>
            </ul>
        </div>
        <div class="text_preview">
            <h1>Find out </h1>
            <h4>what the best accommodation is at pleasant prices</h4>
        </div>
    </div>
</div>

</html>