<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login_p.css">
    <script src="/js/login_p.js"></script>
    <title>Home</title>
</head>

<div class="video-bg">
    <video src="/video/video_bg.mp4" type="video/mp4" autoplay muted loop></video>
    <div class="effects"></div>
    <div class="video-bg__content">
        <div class="header">
            <h1>Property shop</h1>
            <ul class="menu">
                <li><a href="/">Home</a></li>

            </ul>
        </div>

        <form id="login_form" action="/login" method="post">
            <span class="input-span">
        <label for="Nickname" class="label">Nickname</label>
        <input type="Nickname" name="Nickname" id="nickname"/>
    </span>
            <span class="input-span">
        <label for="email" class="label">Email</label>
        <input type="email" name="email" id="email"/>
    </span>
            <span class="input-span">
        <label for="password" class="label">Password</label>
        <input type="password" name="password" id="password"/>
    </span>
            <input class="submit" type="submit" value="Log in"/>
            <span class="end_form">Don't have an account? <a href="/register">Sign up</a></span>
        </form>


    </div>
</div>

</html>