<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/register_p.css">
    <title>Home</title>
</head>

<div class="video-bg">
    <video src="/video/video_bg.mp4" type="video/mp4" autoplay muted loop></video>
    <div class="effects"></div>
    <div class="video-bg__content">
        <div class="header">
            <h1>Property shop</h1>
            <ul class="menu">
                <li><a href="/">Home</a></li>
                <li><a href="/login">Login</a></li>
            </ul>
        </div>

        <form id="register_form" action="/register" method="post">
    <span class="input-span">
        <label for="name" class="label">Name</label>
        <input type="name" name="name" id="name" />
    </span>
            <span class="input-span">
        <label for="Nickname" class="label">Nickname</label>
        <input type="Nickname" name="Nickname" id="nickname" />
    </span>
            <span class="input-span">
        <label for="email" class="label">Email</label>
        <input type="email" name="email" id="email" />
    </span>
            <span class="input-span">
        <label for="password" class="label">Password</label>
        <input type="password" name="password" id="password" />
    </span>
            <input class="submit" type="submit" value="Sign Up" />
        </form>



    </div>
</div>

</html>