@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

body {
    font-family: 'Poppins';
    margin: 0;
    padding: 0;
}

.video-bg {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: left;
    align-items: normal;
    position: relative;

}

.video-bg video {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.effects {
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
}

.video-bg__content {
    z-index: 2;
    color: #ffffff;
    margin: 13px;
    padding: 13px;
    display: flex;
    flex-direction: column;

    width: 100%;


}

.main {
    max-width: 1600px;
    margin: 0 auto;
    margin-top: 50px;
    padding: 0 20px;
}

.header {
    display: flex;
    flex-direction: row;
    height: 100px;
}

.menu {

    list-style: none;
    display: flex;
    flex-direction: row;
    width: 78%;
    justify-content: right;
}

.menu li {
    display: flex;
    align-items: center;
}

.menu a {
    font-size: 20px;
    text-decoration: none;
    color: #ffffff;
    padding: 12px;

}


#login_form {
    margin: 15px;
    --bg-light: #efefef;
    --bg-dark: #707070;
    --clr: #ffffff;
    --clr-alpha: #9c9c9c60;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    height: 80vh;
    justify-content: center;
    align-items: center;
}

#login_form .input-span {
    width: 70%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: white;
}


#login_form input[type="email"],
#login_form input[type="password"] {
    border-radius: 0.5rem;
    padding: 1rem 0.75rem;
    width: 100%;
    border: none;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: var(--clr-alpha);
    outline: 2px solid var(--bg-dark);
    color: white;
}


#login_form input[type="email"],
#login_form input[type="password"] {
    outline: 2px solid var(--clr);
}

.label {
    align-self: flex-start;
    color: var(--clr);
    font-weight: 600;
}

#login_form .submit {
    padding: 1rem 0.75rem;
    width: 27%;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border-radius: 3rem;
    background-color: var(--bg-dark);
    color: var(--bg-light);
    border: none;
    cursor: pointer;
    transition: all 300ms;
    font-weight: 600;
    font-size: 0.9rem;
}

#login_form .submit:hover {
    background-color: var(--clr);
    color: var(--bg-dark);
}


.span {
    text-decoration: none;
    color: var(--bg-dark);
}


.span a {
    color: var(--clr);
}

.end_form {
    text-decoration: none;
    color: #fffefe6d;
}

.end_form a {
    text-decoration: none;
    color: #ffffff;
}

  